@{
    ViewBag.Title = "Create Topic";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@using SchoolDiarySystem.Models
@model Topics

@*<div class="dashboard-page-one">*@
    @*<div class="dashboard-content-one">*@
        <div class="breadcrumbs-area">
            <h3>Topic</h3>
            <ul>
                <li>
                    <a href="index-2.html">Home</a>
                </li>
                <li>Create Topic</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Create Topic</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Create", "Topic", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <form class="new-added-form">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Select Class *</label>
                                @Html.DropDownListFor(m => m.ClassID, new SelectList(ViewBag.Class, "ClassID", "ClassNo"), new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.ClassID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Select Subject *</label>
                                @Html.DropDownListFor(m => m.SubjectID, new SelectList(ViewBag.Subject, "SubjectID", "SubjectTitle"), new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.SubjectID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Select Date *</label>
                                @Html.TextBoxFor(m => m.TopicDate, new { @class = "form-control air-datepicker", placeholder = "dd/MMMM/yyyy", id = "topicdate", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.TopicDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Select Time *</label>
                                @Html.DropDownListFor(m => m.Time, new SelectList(ViewBag.Times), new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-12 form-group">
                                <label>Content *</label>
                                @Html.TextAreaFor(m => m.Content, new { @class = "textarea form-control", placeholder = "Last name...", id = "content", autocomplete = "off", style = "margin-top: 0px; margin-bottom: 0px; height: 150px;" })
                                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Create" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    @*</div>*@
@*</div>*@

@section Scripts {}