@{
    ViewBag.Title = "Create Parent";
    ViewBag.ViewToShow = "Create";
    ViewBag.ControllerToShow = "Parent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Parents

        <div class="breadcrumbs-area">
            <h3>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.CPForm</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.Home</a>
                </li>
                <li>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.NewParent</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.NewParent</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">...</a>
                        <div class="dropdown-menu dropdown-menu-right text-center">
                            <a class="dropdown-item" data-toggle="modal" data-target="#right-slide-modal">
                                @SchoolDiarySystem.Resources.Universal.UniversalTexts.Help
                            </a>
                        </div>
                        <div class="ui-modal-box">
                            <div class="modal-box">
                                <div class="modal right-slide-modal fade" id="right-slide-modal" tabindex="-1"
                                     role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Help</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @SchoolDiarySystem.Resources.Parent.Create.CreateTexts.ParentHELP
                                                <img src="~/Content/img/Help/Create_InvalidAttempt_Parent.png" alt="logo" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="footer-btn bg-dark-low"
                                                        data-dismiss="modal">
                                                    @SchoolDiarySystem.Resources.Universal.UniversalTexts.Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Create", "Parent", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <form class="new-added-form">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.FirstN</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name...", id = "firstname", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.LastN</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name...", id = "lastname", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.City</label>
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City...", id = "city", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="@SchoolDiarySystem.Resources.Parent.Create.CreateTexts.Create" class="btn-fill-md radius-4 text-light bg-light-sea-green" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>

@section Scripts {}