<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stats+</title>

    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />


    @if (!User.Identity.IsAuthenticated)
    {
        <style>
            body {
                background-color: #343a40
            }

            .vrt-header th {
                writing-mode: vertical-lr;
                min-width: 50px; /* for firefox */
            }
        </style>
    }
    else
    {
        <style>
            body {
                background-color: #fff
            }
        </style>
    }
</head>

<body id="page-top">

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="~/Home/Index">Stats+</a>

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>

            <span style=" margin-left:87%;"> @Html.Partial("_LoginPartial")</span>
        </nav>
    }
    <div id="wrapper">
        @*Sidebar*@
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="sidebar navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="~/Home/Index">
                        <i class="fas fa-fw fa-home"></i>
                        <span>
                            Faqja
                            kryesore
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Formulari/Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Formulari</span>
                    </a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="~/Raportet/RaportiGjenerates">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Raportet</span>
                    </a>

                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item ">
                        <a class="nav-link" href="~/Account/Register">
                            <i class="fas fa-fw fa-registered"></i>
                            <span>Krijo Llogari</span>
                        </a>

                    </li>
                }


            </ul>
        }
        <div class="container">

            @RenderBody()
        </div>

    </div>

    @*  @Scripts.Render("~/bundles/jquery")
        @* @Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.js"></script>



    <!-- Custom scripts for all pages-->

    <script src="~/Content/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/js/demo/chart-area-demo.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>
