@{
    ViewBag.Title = "Delete";
    ViewBag.ViewToShow = "Delete";
    ViewBag.ControllerToShow = "Teacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Teachers

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.DTForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Home</a>
        </li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.Sure</h3>
                <br />
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>
                <div class="dropdown-menu dropdown-menu-right text-center">
                    <a class="dropdown-item" data-toggle="modal" data-target="#right-slide-modal">
                        @SchoolDiarySystem.Resources.Universal.UniversalTexts.Help
                    </a>
                </div>
                <div class="ui-modal-box">
                    <div class="modal-box">
                        <div class="modal right-slide-modal fade" id="right-slide-modal" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Help</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.TeacherHELP
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="footer-btn bg-dark-low"
                                                data-dismiss="modal">
                                            @SchoolDiarySystem.Resources.Universal.UniversalTexts.Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-info-details">
            <div class="item-content">
                <div class="info-table table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.Name</td>
                                <td>@Html.Label(Model.FullName, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.Gender</td>
                                <td>@Html.Label(Model.Gender, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.City</td>
                                <td>@Html.Label(Model.City, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.Birthday</td>
                                <td>@Html.Label(Model.DayofBirth.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.Email</td>
                                <td>@Html.Label("Email", Model.Email, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Teacher.Delete.DeleteTexts.PhoneNo</td>
                                <td>@Html.Label(Model.PhoneNo, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm("Delete", "Teacher", FormMethod.Post))
                {
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.DeleteUpper" class="btn-fill-md radius-4 text-light bg-orange-red" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}