@{
    ViewBag.Title = "Teacher Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Teachers

        <div class="breadcrumbs-area">
            <h3>Teacher</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">Home</a>
                </li>
                <li>Teacher Details</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Teacher Details</h3>
                    </div>
                </div>
                <div class="single-info-details">
                    <div class="item-img">
                        @if (Model.Gender != "Male")
                        {
                            <img src="~/Content/img/figure/student1.jpg" alt="teacher">
                        }
                        else
                        {
                            <img src="~/Content/img/figure/teacher.jpg" alt="teacher">
                        }
                    </div>
                    <div class="item-content">
                        <div class="header-inline item-header">
                            <h3 class="text-dark-medium font-medium">@Html.Label("FullName", Model.FullName, new { @class = "text-dark-medium font-medium" })</h3>
                            <div class="header-elements">
                                <ul>
                                    <li><a href="#"><i class="fas fa-print"></i></a></li>
                                    <li><a href="#"><i class="fas fa-download"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-table table-responsive">
                            <table class="table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Html.Label(Model.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@Html.Label(Model.Gender, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>City:</td>
                                        <td>@Html.Label(Model.City, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday:</td>
                                        <td>@Html.Label(Model.DayofBirth.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail:</td>
                                        <td>@Html.Label("Email", Model.Email, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number:</td>
                                        <td>@Html.Label(Model.PhoneNo, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Update", "Teacher", routeValues: new { id = Model.TeacherID })">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Update" class="btn-fill-md text-light bg-dodger-blue" />
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "Teacher", routeValues: new { id = Model.TeacherID })">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Delete" class="btn-fill-md radius-4 text-light bg-orange-red" />
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index", "Teacher")">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Back to List" class="btn-fill-md text-light bg-orange-peel" />
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

@section Scripts {}