@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model Users

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Create UserS</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Director")">Home</a>
                </li>
                <li>Create User</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Create User for Teacher</h3>
                    </div>
                </div>
                @using (Html.BeginForm("CreateTeacher", "User", FormMethod.Post))
                {
                    <form class="new-added-form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-12 form-group">
                                <label>Teacher *</label>
                                @Html.DropDownList("TeacherID", null, new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.TeacherID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-6 col-lg-4 col-12 form-group">
                                <label>Expire Date *</label>
                                @Html.TextBoxFor(m => m.ExpiresDate, new { @class = "form-control air-datepicker", placeholder = "dd/MMMM/yyyy", id = "expire", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ExpiresDate, "", new { @class = "text-danger" })
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-12 form-group">
                                <label>Username *</label>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Last name...", id = "username", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-4 col-lg-4 col-12 form-group">
                                <label>Password *</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Type Password", id = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-4 col-lg-4 col-12 form-group">
                                <label>Confirm Password </label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", id = "confirmPass" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Create" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}