@{
    ViewBag.Title = "Create User";
    ViewBag.ViewToShow = "CreateAdmin";
    ViewBag.ControllerToShow = "User";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model Users

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.CUAForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Director")">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.CreateUser</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.CreateUser</h3>
            </div>
        </div>
        @using (Html.BeginForm("CreateAdmin", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <form class="new-added-form">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.FirstN</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", id = "firstname", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.LastN</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", id = "lastname", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.ExpDate</label>
                        @Html.TextBoxFor(m => m.ExpiresDate, new { @class = "form-control air-datepicker", placeholder = "dd/MMMM/yyyy", id = "expire", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ExpiresDate, "", new { @class = "text-danger" })
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.Username</label>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", id = "username", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.Pass</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Type Password", id = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.User.CreateAdmin.CreateAdminTexts.ConfPass</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", id = "confirmPass" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.CreateUpper" class="btn-fill-md radius-4 text-light bg-light-sea-green" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {}