@{
    ViewBag.Title = "Delete";
    ViewBag.ViewToShow = "Delete";
    ViewBag.ControllerToShow = "User";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model Users

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.DUForm</h3>
    <ul>
        <li>
            <a href="index-2.html">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.UserDet</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Sure</h3>
            </div>
        </div>
        <div class="single-info-details">
            <div class="item-img">
                <img src="~/Content/img/figure/teacher.jpg" alt="teacher">
            </div>
            <div class="item-content">
                <div class="header-inline item-header">
                    @if (Model.RoleID == 1)
                    {
                        @Html.Label("FullName", Model.FullName, new { @class = "text-dark-medium font-medium" })
                    }
                    else if (Model.RoleID == 2)
                    {
                        @Html.Label(Model.Teacher.FullName, new { @class = "font-medium text-dark-medium" })
                    }
                    else if (Model.RoleID == 4)
                    {
                        @Html.Label(Model.Parent.FullName, new { @class = "font-medium text-dark-medium" })
                    }
                </div>
                <div class="info-table table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            @if (Model.RoleID == 1)
                            {
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Name</td>
                                    <td>@Html.Label(Model.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Username</td>
                                    <td>@Html.Label(Model.Username, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.ExpDate</td>
                                    <td>@Html.Label(Model.ExpiresDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.LLDate</td>
                                    <td>@Html.Label(Model.LastLoginDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                            }
                            else if (Model.RoleID == 2)
                            {
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Teacher</td>
                                    <td>@Html.Label(Model.Teacher.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Username</td>
                                    <td>@Html.Label(Model.Username, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.ExpDate</td>
                                    <td>@Html.Label(Model.ExpiresDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.LLDate</td>
                                    <td>@Html.Label(Model.LastLoginDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                            }
                            else if (Model.RoleID == 4)
                            {
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Parent</td>
                                    <td>@Html.Label(Model.Parent.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.Username</td>
                                    <td>@Html.Label(Model.Username, new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.ExpDate</td>
                                    <td>@Html.Label(Model.ExpiresDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.LLDate</td>
                                    <td>@Html.Label(Model.LastLoginDate.ToString("dd MMMM yyyy"), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                            }
                            @if (Model.IsPasswordChanged != true)
                            {
                                <tr>
                                    <td class="font-medium text-dark-medium">@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.NeverCh</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@SchoolDiarySystem.Resources.User.Delete.DeleteTexts.PassCh</td>
                                    <td>@Html.Label(Model.LastPasswordChangeDate.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    @using (Html.BeginForm("Delete", "User", new { id = Model.UserID }, FormMethod.Post))
                                    {
                                        <div class="col-12 form-group mg-t-8">
                                            <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.DeleteUpper" class="btn-fill-md radius-4 text-light bg-orange-red" />
                                        </div>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {}