@using SchoolDiarySystem.Models
@model IEnumerable<Users>

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>User</h3>
            <ul>
                <li>
                    <a href="~/Views/Admin/Index.cshtml">Home</a>
                </li>
                <li>All Users</li>
            </ul>
        </div>
        <div class="col-4-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Create User</h3>
                        </div>
                    </div>
                    <form class="new-added-form">
                            <div class="col-12 form-group mg-t-8">
                                <table>
                                    <tr>
                                        <td>
                                            @Html.ActionLink("Admin", "CreateAdmin", "User", null, new { @class = "btn-fill-lg font-normal text-light gradient-pastel-green" })
                                        </td><td></td><td></td><td></td><td></td><td></td>
                                        <td>
                                            @Html.ActionLink("Teacher", "CreateTeacher", "User", null, new { @class = "btn-fill-lg font-normal text-light gradient-pastel-green" })
                                        </td>
                                        <td></td><td></td><td></td><td></td><td></td>
                                        <td>
                                            @Html.ActionLink("Parent", "CreateParent", "User", null, new { @class = "btn-fill-lg font-normal text-light gradient-pastel-green" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Teacher Table Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Parents Data</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {
                    <form class="mg-b-20">
                        <div class="row gutters-8">
                            <div class="col-4-xxxl col-xl-10 col-lg-3 col-12 form-group">
                                <input type="text" placeholder="Search by Name ..." name="searchString" class="form-control">
                            </div>
                            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                            </div>
                        </div>
                    </form>
                }
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Expire Date</th>
                                <th>Last Login Date</th>
                                <th>Last Login Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        @*<tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                        <th>@Html.DisplayNameFor(m => m.LastName)</th>
                        <th>@Html.DisplayNameFor(m => m.Gender)</th>
                        <th>@Html.DisplayNameFor(m => m.City)</th>
                        <th>@Html.DisplayNameFor(m => m.Qualification)</th>
                        <th>@Html.DisplayNameFor(m => m.DayofBirth)</th>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.PhoneNo)</th>
                        <th></th>
                    </tr>
                </tfoot>*@
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.RoleID == 2)
                                    {
                                        <td>
                                            @Html.DisplayFor(m => item.Teacher.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Teacher.LastName)
                                        </td>
                                    }
                                    else if (item.RoleID == 4)
                                    {
                                        <td>
                                            @Html.DisplayFor(m => item.Parent.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Parent.LastName)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(m => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.LastName)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(m => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Role.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.ExpiresDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.LastLoginDate)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(m => item.LastLoginTime)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Update", "Update", new { id = item.UserID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                                        @Html.ActionLink("Change Password", "ChangePassword", new { id = item.UserID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {}
