@{
    ViewBag.Title = "Update Comment";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@using SchoolDiarySystem.Models
@model Comments
<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Comment</h3>
            <ul>
                <li>
                    <a href="index-2.html">Home</a>
                </li>
                <li>Update Comment</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Update Comment</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Update", "Comment", FormMethod.Post))
                {
                    <form class="new-added-form">
                        <div class="row">
                            @Html.HiddenFor(m => m.CommentID)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>Select Date *</label>
                                @Html.TextBoxFor(m => m.CommentDate, new { @class = "form-control air-datepicker", placeholder = "dd/MMMM/yyyy", id = "dob" })
                                @Html.ValidationMessageFor(m => m.CommentDate, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-xl-4 col-lg-6 col-12 form-group">
                            <label>Select Time *</label>
                            @Html.DropDownListFor(m => m.Time, Model.Times, new { @class = "select2" })
                            @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })
                        </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>Comment *</label>
                                @Html.TextAreaFor(m => m.Content, new { @class = "textarea form-control", placeholder = "Last name...", id = "lastname", height = "20", width = "20" })
                                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Update" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}