@{
    ViewBag.Title = "Create Subject";
    ViewBag.ViewToShow = "Create";
    ViewBag.ControllerToShow = "Subject";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Subjects

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.CSForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.CreateSub</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.CreateSub</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>
                <div class="dropdown-menu dropdown-menu-right text-center">
                    <a class="dropdown-item" data-toggle="modal" data-target="#right-slide-modal">
                        @SchoolDiarySystem.Resources.Universal.UniversalTexts.Help
                    </a>
                </div>
                <div class="ui-modal-box">
                    <div class="modal-box">
                        <div class="modal right-slide-modal fade" id="right-slide-modal" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Help</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @SchoolDiarySystem.Resources.Subject.Create.CreateTexts.SubjectHELP
                                        <img src="~/Content/img/Help/Create_InvalidAttempt_Subject.png" alt="logo" />
                                        @SchoolDiarySystem.Resources.Subject.Create.CreateTexts.SubjectHELP_2
                                        <img src="~/Content/img/Help/Create_InvalidAttempt_Exists_Subject.png" alt="logo" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="footer-btn bg-dark-low"
                                                data-dismiss="modal">
                                            @SchoolDiarySystem.Resources.Universal.UniversalTexts.Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Create", "Subject", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <form class="new-added-form">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.SubTitle</label>
                        @Html.TextBoxFor(m => m.SubjectTitle, new { @class = "form-control", placeholder = "Subject", id = "subjecttitle", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.SubjectTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.Book</label>
                        @Html.TextBoxFor(m => m.Book, new { @class = "form-control", placeholder = "Subject's Book", id = "book", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Book, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.BookAuth</label>
                        @Html.TextBoxFor(m => m.BookAuthor, new { @class = "form-control", placeholder = "Book Author", id = "bookauthor", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.BookAuthor, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Subject.Create.CreateTexts.SelTeach</label>
                        @Html.DropDownListFor(m => m.TeacherID, new SelectList(ViewBag.Teacher, "TeacherID", "FullName"), htmlAttributes: new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.TeacherID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.CreateUpper" class="btn-fill-md radius-4 text-light bg-light-sea-green" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {}