@using SchoolDiarySystem.Models
@model Subjects

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Subject</h3>
            <ul>
                <li>
                    <a href="index-2.html">Home</a>
                </li>
                <li>Subject Details</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Student Table Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Are you sure you want to delete this subject?</h3>
                    </div>
                </div>
                <div class="single-info-details">
                    <div class="item-img">
                        <img src="~/Content/img/figure/teacher.jpg" alt="teacher">
                    </div>
                    <div class="item-content">
                        <div class="header-inline item-header">
                            @Html.Label(Model.SubjectTitle, new { @class = "text-dark-medium font-medium" })
                        </div>
                        <div class="info-table table-responsive">
                            <table class="table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Html.Label(Model.SubjectTitle, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@Html.Label(Model.Book, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday:</td>
                                        <td>@Html.Label(Model.BookAuthor.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail:</td>
                                        <td>@Html.Label(Model.Teacher.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @using (Html.BeginForm("Delete", "Subject", FormMethod.Post))
                        {
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Delete" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {}