@{
    ViewBag.Title = "Update Subject";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Subjects

@*<div class="dashboard-page-one">*@
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Subject</h3>
            <ul>
                <li>
                    <a href="index-2.html">Home</a>
                </li>
                <li>Update Subject</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Update Subject</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Update", "Subject", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <form class="new-added-form">
                        <div class="row">
                            @Html.HiddenFor(m => m.SubjectID)
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Book *</label>
                                @Html.TextBoxFor(m => m.Book, new { @class = "form-control", placeholder = "Book...", id = "book", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Book, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Book Author *</label>
                                @Html.TextBoxFor(m => m.BookAuthor, new { @class = "form-control", placeholder = "BookAuthor...", id = "bookauthor", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.BookAuthor, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Teacher *</label>
                                @Html.DropDownListFor(m => m.TeacherID, new SelectList(ViewBag.Teacher, "TeacherID", "FullName"), htmlAttributes: new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.TeacherID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Update" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
@*</div>*@

@section Scripts {}