@{
    ViewBag.Title = "Absences List";
    ViewBag.ViewToShow = "Index";
    ViewBag.ControllerToShow = "Absence";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@using SchoolDiarySystem.Models
@model IEnumerable<Absences>

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Absence</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Teacher")">@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.AllAbsence</li>
    </ul>
</div>
<div class="col-4-xxxl col-12" style="display:contents">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Create an Absence</h3>
                </div>
            </div>
            <form class="new-added-form">
                <div class="row">
                    <div class="col-12 form-group mg-t-8">
                        <p>
                            @Html.ActionLink("Create", "Create", "Absence", null, new { @class = "btn-fill-lg font-normal text-light gradient-pastel-green" })
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.AllAbData</h3>
            </div>
        </div>
        @using (Html.BeginForm("Index", "Absence", FormMethod.Get))
        {
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                        <input type="text" autocomplete="off" name="searchString" placeholder="@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.SearchDate" class="form-control air-datepicker">
                    </div>
                    <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                        <input type="text" autocomplete="off" name="searchString2" placeholder="@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.SearchName" class="form-control">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Search</button>
                    </div>
                </div>
            </form>
        }
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Date</th>
                        <th>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Reasoning</th>
                        <th>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Student</th>
                        <th>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Class</th>
                        <th>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Subject</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(m => item.AbsenceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.AbsenceReasoning)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Student.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Class.ClassNo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Subject.SubjectTitle)
                            </td>

                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="flaticon-more-button-of-three-dots"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="@Url.Action("Update", "Absence", new { id = item.AbsenceID })"><i class="fas fa-cogs text-dark-pastel-green"></i>@SchoolDiarySystem.Resources.Absence.Index.IndexTexts.Update</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="flaticon-more-button-of-three-dots"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#standard-modal"><i class="fas fa-download"></i>@SchoolDiarySystem.Resources.Universal.UniversalTexts.DownloadExcel</a>
                                </div>
                                <div class="modal-box">
                                    <!-- Modal -->
                                    <div class="modal fade" id="standard-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.DownloadExcel</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @SchoolDiarySystem.Resources.Universal.UniversalTexts.SureDownload
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">@SchoolDiarySystem.Resources.Universal.UniversalTexts.No</button>
                                                    @using (Html.BeginForm("Export", "Student", FormMethod.Post))
                                                    {
                                                        <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.Download" class="footer-btn bg-linkedin" aria-label="Close" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts {}