@{
    ViewBag.Title = "Create Schedule";
    ViewBag.ViewToShow = "Create";
    ViewBag.ControllerToShow = "Schedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model ClassSchedules

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.CCSForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.CreateSched</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.CreateSched</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>
                <div class="dropdown-menu dropdown-menu-right text-center">
                    <a class="dropdown-item" data-toggle="modal" data-target="#right-slide-modal">
                        @SchoolDiarySystem.Resources.Universal.UniversalTexts.Help
                    </a>
                </div>
                <div class="ui-modal-box">
                    <div class="modal-box">
                        <div class="modal right-slide-modal fade" id="right-slide-modal" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Help</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.ScheduleHELP
                                        <img src="~/Content/img/Help/Create_InvalidAttempt_Schedule.png" alt="logo" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="footer-btn bg-dark-low"
                                                data-dismiss="modal">
                                            @SchoolDiarySystem.Resources.Universal.UniversalTexts.Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Create", "Schedule", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <form class="new-added-form">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.SelClass</label>
                        @Html.DropDownListFor(m => m.ClassID, new SelectList(ViewBag.Class, "ClassID", "ClassNo"), htmlAttributes: new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.ClassID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.SelSub</label>
                        @Html.DropDownListFor(m => m.SubjectID, new SelectList(ViewBag.Subject, "SubjectID", "SubjectTitle"), htmlAttributes: new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.SubjectID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.SelTime</label>
                        @Html.DropDownListFor(m => m.Time, new SelectList(ViewBag.Times), htmlAttributes: new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.SelDay</label>
                        @Html.DropDownListFor(m => m.Day, new SelectList(ViewBag.Days), htmlAttributes: new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.Day, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Schedule.Create.CreateTexts.Create" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {}