@{
    ViewBag.Title = "Delete";
    ViewBag.ViewToShow = "Delete";
    ViewBag.ControllerToShow = "Schedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model ClassSchedules

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.DCSForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.SchedDet</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Sure</h3>
            </div>
        </div>
        <div class="single-info-details">
            <div class="item-content">
                <div class="info-table table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Subject</td>
                                <td>@Html.Label(Model.Subject.SubjectTitle, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Class</td>
                                <td>@Html.Label(Model.Class.ClassNo.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Time</td>
                                <td>@Html.Label(Model.Time.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Day</td>
                                <td>@Html.Label(Model.Day, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm("Delete", "Schedule", FormMethod.Post))
                {
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Schedule.Delete.DeleteTexts.Delete" class="btn-fill-md radius-4 text-light bg-orange-red" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}