@{
    ViewBag.Title = "Class Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Class

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Class</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">Home</a>
                </li>
                <li>Class Details</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Class Details</h3>
                    </div>
                </div>
                <div class="single-info-details">
                    <div class="item-content">
                        <div class="header-inline item-header">
                            <h3 class="text-dark-medium font-medium">@Html.Label("ClassNo", Model.ClassNo.ToString(), new { @class = "text-dark-medium font-medium" })</h3>
                        </div>
                        <div class="info-table table-responsive">
                            <table class="table text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>Class :</td>
                                        <td>@Html.Label(Model.ClassNo.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Teacher:</td>
                                        <td>@Html.Label(Model.Teacher.FullName, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday:</td>
                                        <td>@Html.Label(Model.Room.RoomType, new { @class = "font-medium text-dark-medium" })</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Update", "Class", routeValues: new { id = Model.ClassID })">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Update" class="btn-fill-md text-light bg-dark-pastel-green" />
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "Class", routeValues: new { id = Model.ClassID })">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Delete" class="btn-fill-md text-light bg-dark-pastel-green" />
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index", "Class")">
                                                <div class="col-12 form-group mg-t-8">
                                                    <input type="submit" value="Back to List" class="btn-fill-md text-light bg-dark-pastel-green" />
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {}
