@{
    ViewBag.Title = "Update Class";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Class

@*<div class="dashboard-page-one">*@
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Class</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">Home</a>
                </li>
                <li>Update Class</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Update Class</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Update", "Class", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <form class="new-added-form">
                        <div class="row">
                            @Html.HiddenFor(m => m.ClassID)
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>Teacher *</label>
                                @Html.DropDownListFor(m => m.TeacherID, new SelectList(ViewBag.Teacher, "TeacherID", "FullName"), htmlAttributes: new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.TeacherID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label>Room Type *</label>
                                @Html.DropDownListFor(m => m.RoomID, new SelectList(ViewBag.Room, "RoomID", "RoomType"), htmlAttributes: new { @class = "select2" })
                                @Html.ValidationMessageFor(m => m.RoomID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Update" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
@*</div>*@


@section Scripts {}