@{
    ViewBag.Title = "IndexClass";
    ViewBag.ViewToShow = "IndexClass";
    ViewBag.ControllerToShow = "MyKids";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}
@using SchoolDiarySystem.Models
@model IEnumerable<Class>

        <div class="breadcrumbs-area">
            <h3>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.ClassList</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "MyKids")">@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.Home</a>
                </li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.ClassList</h3>
                    </div>
                </div>
                @using (Html.BeginForm("IndexClass", "MyKids", FormMethod.Get))
                {
                    <form class="mg-b-20">
                        <div class="row gutters-8">
                            <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                                <input type="number" autocomplete="off" name="searchString" placeholder="@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.SearchByClass" class="form-control">
                            </div>
                            <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                                <input type="text" autocomplete="off" name="searchString2" placeholder="@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.SearchByStud" class="form-control">
                            </div>
                            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                <button type="submit" class="fw-btn-fill btn-gradient-yellow">@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.Search</button>
                            </div>
                        </div>
                    </form>
                }
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.MyKid</th>
                                <th>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.Teacher</th>
                                <th>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.Class</th>
                                <th>@SchoolDiarySystem.Resources.MyKids.IndexClass.IndexClassTexts.Room</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(m => item.Student.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Teacher.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.ClassNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Room.RoomType)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

@section Scripts {}