@{
    ViewBag.Title = "Absence's List";
    ViewBag.ViewToShow = "IndexAbsence";
    ViewBag.ControllerToShow = "MyKids";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}
@using SchoolDiarySystem.Models
@model IEnumerable<Absences>

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.AbsenceList</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "MyKids")">@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Home</a>
        </li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.AbsenceList</h3>
            </div>
        </div>
        @using (Html.BeginForm("IndexAbsence", "MyKids", FormMethod.Get))
        {
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                        <input type="text" autocomplete="off" name="searchString" placeholder="@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.SearchByD" class="form-control air-datepicker">
                    </div>
                    <div class="col-4-xxxl col-xl-5 col-lg-3 col-12 form-group">
                        <input type="text" autocomplete="off" name="searchString2" placeholder="@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.SearchByStud" class="form-control">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Search</button>
                    </div>
                </div>
            </form>
        }
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Date</th>
                        <th>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Reas</th>
                        <th>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Stud</th>
                        <th>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Class</th>
                        <th>@SchoolDiarySystem.Resources.MyKids.IndexAbsence.IndexAbsenceTexts.Subject</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(m => item.AbsenceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.AbsenceReasoning)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Student.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Class.ClassNo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Subject.SubjectTitle)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {}