@{
    ViewBag.Title = "Delete";
    ViewBag.ViewToShow = "Delete";
    ViewBag.ControllerToShow = "Room";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Rooms

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.DRForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.RoomDet</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.Sure</h3>
            </div>
        </div>
        <div class="single-info-details">
            <div class="item-content">
                <div class="header-inline item-header">
                    <h3 class="text-dark-medium font-medium">@Html.Label("RoomType", Model.RoomType, new { @class = "text-dark-medium font-medium" })</h3>
                </div>
                <div class="info-table table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.RoomNo</td>
                                <td>@Html.Label(Model.RoomNo.ToString(), new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                            <tr>
                                <td>@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.RoomType</td>
                                <td>@Html.Label(Model.RoomType, new { @class = "font-medium text-dark-medium" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm("Delete", "Room", FormMethod.Post))
                {
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Room.Delete.DeleteTexts.Delete" class="btn-fill-md radius-4 text-light bg-orange-red" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}