@{
    ViewBag.Title = "Update Room";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Rooms

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Room</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Admin")">Home</a>
                </li>
                <li>Update Room</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Update Room</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Update", "Room", FormMethod.Post))
                {
                    <form class="new-added-form">
                        <div class="row">
                            @Html.HiddenFor(m => m.RoomID)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xl-6 col-lg-6 col-12 form-group">
                                <label>Room Number *</label>
                                @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Write room number...", id = "firstname" })
                                @Html.ValidationMessageFor(m => m.RoomNo, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xl-6 col-lg-6 col-12 form-group">
                                <label>Room Type *</label>
                                @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control", placeholder = "Laboratory, Class,...", id = "lastname" })
                                @Html.ValidationMessageFor(m => m.RoomType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Update" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}