@{
    ViewBag.Title = "Update Student";
    ViewBag.ViewToShow = "Update";
    ViewBag.ControllerToShow = "Student";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using SchoolDiarySystem.Models
@model Students

<div class="breadcrumbs-area">
    <h3>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.USForm</h3>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Admin")">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Home</a>
        </li>
        <li>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.UpdateStud</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.UpdateStud</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">...</a>
                <div class="dropdown-menu dropdown-menu-right text-center">
                    <a class="dropdown-item" data-toggle="modal" data-target="#right-slide-modal">
                        @SchoolDiarySystem.Resources.Universal.UniversalTexts.Help
                    </a>
                </div>
                <div class="ui-modal-box">
                    <div class="modal-box">
                        <div class="modal right-slide-modal fade" id="right-slide-modal" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@SchoolDiarySystem.Resources.Universal.UniversalTexts.Help</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @SchoolDiarySystem.Resources.Student.Update.UpdateTexts.StudentHELP
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="footer-btn bg-dark-low"
                                                data-dismiss="modal">
                                            @SchoolDiarySystem.Resources.Universal.UniversalTexts.Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Update", "Student", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <form class="new-added-form">
                <div class="row">
                    @Html.HiddenFor(m => m.StudentID)
                    @Html.HiddenFor(m => m.DayofBirth)
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.FirstN</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", id = "firstname", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.LastN</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name", id = "lastname", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.DoB</label>
                        @Html.TextBoxFor(m => m.DayofBirth, new { @class = "form-control air-datepicker", type = "text", disabled = "true", placeholder = "dd/MMMM/yyyy", id = "dob", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.DayofBirth, "", new { @class = "text-danger" })
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.SelClass</label>
                        @Html.DropDownListFor(m => m.ClassID, new SelectList(ViewBag.Class, "ClassID", "ClassNo"), new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.ClassID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>@SchoolDiarySystem.Resources.Student.Update.UpdateTexts.SelParent</label>
                        @Html.DropDownListFor(m => m.ParentID, new SelectList(ViewBag.Parent, "ParentID", "FullName"), new { @class = "select2" })
                        @Html.ValidationMessageFor(m => m.ParentID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <input type="submit" value="@SchoolDiarySystem.Resources.Universal.UniversalTexts.UpdateUpper" class="btn-fill-lmd radius-4 text-light bg-violet-blue" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {}