@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model IEnumerable<Comments>

@*<div class="dashboard-page-one">*@
    @*<div class="dashboard-content-one">*@
        <div class="breadcrumbs-area">
            <h3>Comment Board</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Professor")">Home</a>
                </li>
                <li>Comment</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-8-xxxl col-12">
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Comment Board</h3>
                            </div>
                        </div>
                        @using (Html.BeginForm("CommentList", "Review", FormMethod.Get))
                        {
                            <form class="mg-b-20">
                                <div class="row gutters-8">
                                    <div class="col-lg-5 col-12 form-group">
                                        <input type="text" autocomplete="off" placeholder="Search by Date ..." name="searchString" class="form-control air-datepicker">
                                    </div>
                                    <div class="col-lg-5 col-12 form-group">
                                        <input type="text" autocomplete="off" placeholder="Search by Subject ..." name="searchString2" class="form-control">
                                    </div>
                                    <div class="col-lg-2 col-12 form-group">
                                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                    </div>
                                </div>
                            </form>
                        }
                        <div class="notice-board-wrap">
                            @foreach (var item in Model)
                            {
                                <div class="notice-list">
                                    <div class="heading-layout1">
                                        <div class="post-date bg-skyblue">@Html.DisplayFor(m => item.CommentDate)</div>
                                        @if (item.Review.ReviewID != 0)
                                        {
                                            <div class="post-date bg-pink">
                                                Reviewed on @Html.DisplayFor(m => item.Review.ReviewDate)
                                            </div>
                                        }
                                    </div>
                                    @if (item.Review.ReviewID != 0)
                                    {
                                        <h6 class="notice-title">
                                            @Html.DisplayFor(m => item.Content)
                                        </h6>
                                        <div class="entry-meta"> @Html.DisplayFor(m => item.Review.Review)</div>
                                    }
                                    else
                                    {
                                        <h6 class="notice-title">
                                            <a href="@Url.Action("ReviewComment", "Review", new { id = item.CommentID })">
                                                @Html.DisplayFor(m => item.Content)
                                            </a>
                                        </h6>
                                    }
                                    <br />
                                    <div class="entry-meta">  @Html.DisplayFor(m => item.Student.FullName) / <span>@Html.DisplayFor(m => item.Subject.SubjectTitle)</span></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@
@*</div>*@


@section Scripts {}
