@{
    ViewBag.Title = "Review's List";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model IEnumerable<Reviews>

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Review Board</h3>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Director")">Home</a>
                </li>
                <li>Review</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-8-xxxl col-12">
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Review Board</h3>
                            </div>
                        </div>
                        @using (Html.BeginForm("Index", "Review", FormMethod.Get))
                        {
                            <form class="mg-b-20">
                                <div class="row gutters-8">
                                    <div class="col-lg-5 col-12 form-group">
                                        <input type="tel"  autocomplete="off" name="searchString" placeholder="Search by Date ..." class="form-control air-datepicker">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                    <div class="col-lg-5 col-12 form-group">
                                        <input type="text"  autocomplete="off" name="searchString2" placeholder="Search by Subject ..." class="form-control">
                                    </div>
                                    <div class="col-lg-2 col-12 form-group">
                                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                    </div>
                                </div>
                            </form>
                        }
                        <div class="notice-board-wrap">
                            @foreach (var item in Model)
                            {
                                <div class="notice-list">
                                    <div class="post-date bg-skyblue">@Html.DisplayFor(m => item.ReviewDate)</div>
                                    <h6 class="notice-title">
                                        <a href="@Url.Action("Details", new { id = item.ReviewID })">
                                            @Html.DisplayFor(m => item.Review)
                                        </a>
                                    </h6>
                                    <div class="entry-meta"> @Html.DisplayFor(m => item.Comment.Content)</div>
                                    <br />
                                    <div class="entry-meta">  @Html.DisplayFor(m => item.Comment.Student.FullName) / <span>@Html.DisplayFor(m => item.Comment.Subject.SubjectTitle)</span></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {}
