@{
    ViewBag.Title = "Update Review";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
@using SchoolDiarySystem.Models
@model Reviews

<div class="dashboard-page-one">
    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Review</h3>
            <ul>
                <li>
                    <a href="index-2.html">Home</a>
                </li>
                <li>Update Review</li>
            </ul>
        </div>
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Update Review</h3>
                    </div>
                </div>
                @using (Html.BeginForm("Update", "Review", FormMethod.Post))
                {
                    <form class="new-added-form">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <h6 class="notice-title">
                                    @Html.DisplayFor(m => m.Comment.Comment)
                                </h6>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Review *</label>
                                @Html.TextBoxFor(m => m.Review, new { @class = "textarea form-control", placeholder = "Last name...", id = "review" })
                                @Html.ValidationMessageFor(m => m.Review, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Select Date *</label>
                                @Html.TextBoxFor(m => m.ReviewDate, new { @class = "form-control air-datepicker", placeholder = "dd/MMMM/yyyy", id = "reveiwDate" })
                                @Html.ValidationMessageFor(m => m.ReviewDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <input type="submit" value="Review" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {}